<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Recipe App</title>
</head>

<body>

    <div class="page-container">
        <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
            <a class="navbar-brand text-white" href="#">Node.js Recipe App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/categories">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/archives">Archives</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="body-container">
            {{{body}}}
        </div>

        <footer>
            <div class="container pt-5">
                <div class="row row-footer">
                    <div class="col">
                        <h4>About</h4>
                        <p>This application is a student project built using the
                            <a href="https://www.themealdb.com/api.php" target="_blank">Meal DB</a> web API.</p>
                    </div>
                    <div class="col" id="support-column">
                        <h4>Support</h4>
                        <a href="/contact">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>