<link rel="stylesheet" href="../css/archives.css">

<div class="title-container">
    <h1 class="title">Archives</h1>
    <div class="button-container">
        <button class="button email-button" id="email-button">Email</button>
        <button class="button clear-button" id="clear-button">Clear</button>
    </div>
</div>

<div class="recipes-container" id="recipes-container">

</div>

<script src="../js/archives.js" defer></script>