<link rel="stylesheet" href="../css/categories.css">

<div class="search-container">
    <div class="divider">
        <p>Search for a recipe or browse through the categories</p>
        <form action="/search">
            <input type="text">
        </form>
    </div>
</div>

<div class="categories">
    <div class="category ">
        <div class="link-title odd">
            <h1 class="category-title">Seafood</h1>
            <button class="category-link">Visit</button>
        </div>
        <img class="category-image" src="../images/lobster.png" alt="">
    </div>

    <div class="category ">
        <img class="category-image" src="../images/beef.png" alt="">
        <div class="link-title even">
            <h1 class="category-title">Beef</h1>
            <button class="category-link">Visit</button>
        </div>
    </div>

    <div class="category ">
        <div class="link-title odd">
            <h1 class="category-title">Chicken</h1>
            <button class="category-link">Visit</button>
        </div>
        <img class="category-image" src="../images/chicken.png" alt="">
    </div>

    <div class="category ">
        <img class="category-image" src="../images/pasta.png" alt="">
        <div class="link-title even">
            <h1 class="category-title">Pasta</h1>
            <button class="category-link">Visit</button>
        </div>
    </div>

    <div class="category ">
        <div class="link-title odd">
            <h1 class="category-title">Breakfast</h1>
            <button class="category-link">Visit</button>
        </div>
        <img class="category-image" src="../images/pancake.png" alt="">
    </div>

    <div class="category ">
        <img class="category-image" src="../images/broccoli.png" alt="">
        <div class="link-title even">
            <h1 class="category-title">Vegetarian</h1>
            <button class="category-link">Visit</button>
        </div>
    </div>

    <div class="category ">
        <div class="link-title odd">
            <h1 class="category-title">Lamb</h1>
            <button class="category-link">Visit</button>
        </div>
        <img class="category-image" src="../images/lamb.png" alt="">
    </div>

    <div class="category ">
        <img class="category-image" src="../images/cake.png" alt="">
        <div class="link-title even">
            <h1 class="category-title">Dessert</h1>
            <button class="category-link">Visit</button>
        </div>
    </div>
</div>