<link rel="stylesheet" href="../css/categories.css">

<div class="search-container">
    <div class="divider">
        <p>Search for a recipe or browse through the categories</p>
        <form action="/search">
            <input type="text">
        </form>
    </div>
</div>