<link rel="stylesheet" href="../css/contact.css">

<div class="contact-page-container">
    <h1 class="title">Contact</h1>
    <p class="contact-message">Fill out the form below and I will be in contact soon</p>
    <div class="form-container">
        <form action="/sendSupportEmail" method="POST">
            <input class="name-input" name="name" type="text" placeholder="Name" autocomplete="off" required>
            <input class="email-input" name="email" type="email" placeholder="Email" autocomplete="off" required>
            <textarea class="message-input" name="message" id="message" cols="30" rows="10" placeholder="Message"
                required></textarea>
            <button class="button">Submit</button>
        </form>
    </div>
</div>