<link rel="stylesheet" href="../css/recipe-list.css">

<div class="list-recipe-container">
    <h1 class="page-title">{{searchQuery}}</h1>

    <div class="divider top-divider"></div>

    {{#if errors}}
    <div class="errors">
        <h2>Sorry!</h2>
        <h4>Your search result returned no recipes, try another search or view through the categories!</h4>
    </div>
    {{/if}}

    <div class="recipe-container">
        {{#each meals}}
        <a href="/meal?id={{idMeal}}">
            <div class="recipe-card">
                <img class="recipe-image" src="{{strMealThumb}}" alt="">
                <p class="recipe-title">{{strMeal}}</p>
                <div class="divider recipe-divider"></div>
            </div>
        </a>
        {{/each}}
    </div>
</div>